In [1]:
#IMPORTS
%run Functions_short.ipynb

# Import libraries
import pandas as pd
#!pip install folium
import random
import folium
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../Data/Entrenamieto_ECI_2020.csv")
_data = pd.read_csv("../Data/Test_TP2_Datos_2020-2C.csv")


#Quito oportunidaddes que pienso no sirven
df.drop(df[df.Stage =="Negotiation"].index, inplace = True)
df.drop(df[df.Stage =="Proposal"].index, inplace = True)
df.drop(df[df.Stage =="Qualification"].index, inplace = True)

In [3]:
pd.set_option('max_columns', 3000)
pd.set_option('max_rows', 30)

In [4]:
df

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,Opportunity_ID,Sales_Contract_No,Account_Owner,Opportunity_Owner,Account_Type,Opportunity_Type,Quote_Type,Delivery_Terms,Opportunity_Created_Date,Brand,Product_Type,Size,Product_Category_B,Price,Currency,Last_Activity,Quote_Expiry_Date,Last_Modified_Date,Last_Modified_By,Product_Family,Product_Name,ASP_Currency,ASP,ASP_(converted)_Currency,ASP_(converted),Planned_Delivery_Start_Date,Planned_Delivery_End_Date,Month,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,None,Netherlands,Account_Name_619,Opportunity_Name_12598,0,None,Person_Name_51,Person_Name_18,Account_Type_2,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/7/2015,None,None,None,None,None,None,NaT,1/30/2016,6/13/2016,Person_Name_18,Product_Family_77,Product_Name_99,EUR,0.5200,USD,0.58817,5/1/2016,6/30/2016,2016 - 5,Q2,2016,NaT,10,EUR,5272800.00,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,None,Netherlands,Account_Name_619,Opportunity_Name_12600,1,39,Person_Name_51,Person_Name_20,Account_Type_2,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/7/2015,None,None,None,None,None,None,NaT,1/20/2016,1/15/2016,Person_Name_20,Product_Family_77,Product_Name_100,EUR,0.5300,USD,0.59948,1/18/2016,1/20/2016,2016 - 1,Q1,2016,NaT,0,EUR,48230.00,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,Source_7,United States,Account_Name_1794,Opportunity_Name_469,2,760,Person_Name_64,Person_Name_8,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_4,12/8/2015,None,None,None,None,None,None,NaT,9/30/2016,9/29/2016,Person_Name_8,Product_Family_81,Product_Name_91,USD,0.4800,USD,0.48000,1/25/2016,1/25/2016,2016 - 1,Q1,2016,NaT,0,USD,83865.60,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,Source_11,United States,Account_Name_1201,Opportunity_Name_415,3,None,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Non Binding,Delivery_Terms_1,12/8/2015,Other,Product_Type_0,Size_4,Product_Category_B_16,0.42,USD,NaT,NaT,3/27/2018,Person_Name_8,Product_Family_209,Product_Name_432,USD,0.5300,USD,0.53000,2/1/2018,3/31/2018,2018 - 2,Q1,2018,NaT,14,USD,7421881.50,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,Source_11,United States,Account_Name_1201,Opportunity_Name_851,4,None,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Non Binding,Delivery_Terms_1,12/8/2015,Other,Product_Type_0,Size_4,Product_Category_B_16,0.42,USD,NaT,6/2/2017,3/27/2018,Person_Name_8,Product_Family_209,Product_Name_432,USD,0.5300,USD,0.53000,2/1/2018,2/28/2018,2018 - 2,Q1,2018,NaT,25,USD,13357192.50,USD,13357192.5,Closed Lost,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,Source_7,Austria,Account_Name_726,Opportunity_Name_9245,12801,44,Person_Name_13,Person_Name_13,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/4/2015,None,None,None,None,None,None,NaT,NaT,1/19/2016,Person_Name_13,Product_Family_85,Product_Name_111,EUR,0.5200,USD,0.58817,3/21/2016,3/25/2016,2016 - 3,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16943,8786,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,Source_7,Austria,Account_Name_726,Opportunity_Name_9245,12801,44,Person_Name_13,Person_Name_13,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/4/2015,None,None,None,None,None,None,NaT,NaT,1/19/2016,Person_Name_13,Product_Family_85,Product_Name_111,EUR,0.5200,USD,0.58817,4/4/2016,4/8/2016,2016 - 4,Q2,2016,NaT,0,EUR,93015.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16944,8792,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,Source_7,Austria,Account_Name_726,Opportunity_Name_9245,12801,44,Person_Name_13,Person_Name_13,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/4/2015,None,None,None,None,None,None,NaT,NaT,1/19/2016,Person_Name_13,Product_Family_85,Product_Name_111,EUR,0.5200,USD,0.58817,3/28/2016,3/31/2016,2016 - 3,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16945,28561,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,10/20/2015,None,United States,Account_Name_944,Opportunity_Name_5843,12802,None,Person_Name_3,Person_Name_3,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_4,12/5/2015,None,None,None,None,None,None,NaT,2/29/2016,1/22/2016,Person_Name_3,Product_Family_158,Product_Name_287,USD,0.6375,USD,0.63750,4/25/2016,4/29/2016,2016 - 4,Q2,2016,NaT,4,USD,2346796.88,USD,0.0,Closed Lost,Prod_Category_A_None
16946,28318,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,9/3/2015,None,United States,Account_Name_1401,Opportunity_Name_9911,12803,None,Person_Name_3,Person_Name_3,Account_Type_5,Opportunity_Type_19,Non Binding,Delivery_Terms_4,12/5/2015,None,None,None,None,None,None,NaT,1/6/2016,9/28/2016,Person_Name_3,Product_Family_164,Product_Name_307,USD,0.6400,USD,0.64000,7/1/2016,8/31/2016,2016 - 7,Q3,2016,NaT,40,USD,25603200.00,USD,0.0,Closed Lost,Prod_Category_A_None

In [5]:
#DEL TP1

In [6]:
df["is_B4"] = df["Bureaucratic_Code"]=="Bureaucratic_Code_4"
_data["is_B4"]=_data["Bureaucratic_Code"]=="Bureaucratic_Code_4"

In [7]:
df["is_B3"]=df["Bureaucratic_Code"]=="Bureaucratic_Code_3"
_data["is_B3"]=_data["Bureaucratic_Code"]=="Bureaucratic_Code_3"

In [8]:
df["is_B6"]=df["Bureaucratic_Code"]=="Bureaucratic_Code_6"
_data["is_B6"]=_data["Bureaucratic_Code"]=="Bureaucratic_Code_6"

In [9]:
df["is_OT_12"]=df["Opportunity_Type"]=="Opportunity_Type_12"
_data["is_OT_12"]=_data["Opportunity_Type"]=="Opportunity_Type_12"

In [10]:
df["is_OT_19"]=df["Opportunity_Type"]=="Opportunity_Type_19"
_data["is_OT_19"]=_data["Opportunity_Type"]=="Opportunity_Type_19"

In [11]:
df['Planned_Delivery_Start_Date'] = pd.to_datetime(df['Planned_Delivery_Start_Date'], format='%m/%d/%Y', errors='coerce')
df['Planned_Delivery_End_Date']   = pd.to_datetime(df['Planned_Delivery_End_Date'], format='%m/%d/%Y', errors='coerce')
df['Periodo'] = df['Planned_Delivery_End_Date'] - df['Planned_Delivery_Start_Date']
df['Periodo'] = df['Periodo'] / pd.Timedelta(1, unit='d')
df["Periodo"] = df["Periodo"] >160
df.drop(columns=['Planned_Delivery_Start_Date','Planned_Delivery_End_Date'], axis=1,inplace = True)

In [12]:
_data['Planned_Delivery_Start_Date'] = pd.to_datetime(_data['Planned_Delivery_Start_Date'], format='%m/%d/%Y', errors='coerce')
_data['Planned_Delivery_End_Date']   = pd.to_datetime(_data['Planned_Delivery_End_Date'], format='%m/%d/%Y', errors='coerce')
_data['Periodo'] = _data['Planned_Delivery_End_Date'] - _data['Planned_Delivery_Start_Date']
_data['Periodo'] = _data['Periodo'] / pd.Timedelta(1, unit='d')
_data["Periodo"] = _data["Periodo"] >160
_data.drop(columns=['Planned_Delivery_Start_Date','Planned_Delivery_End_Date'], axis=1,inplace = True)

In [13]:
#QUITO COLUMNAS

In [14]:
_data.drop(columns=["Product_Category_B","Price","ASP_(converted)_Currency","ASP_Currency",'Submitted_for_Approval',\
                    'Last_Activity','Actual_Delivery_Date','Prod_Category_A',"Product_Type","Size","Brand",\
                    
                    "Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved","Bureaucratic_Code","Account_Created_Date"\
                   ,"Source ","Account_Name","Opportunity_Name","Sales_Contract_No","Opportunity_Owner",\
                    
                   "Total_Taxable_Amount_Currency","Total_Amount_Currency","Currency","Last_Modified_Date"], axis=1,inplace = True)
df.drop(columns=["Product_Category_B","Price","ASP_(converted)_Currency","ASP_Currency",'Submitted_for_Approval',\
                    'Last_Activity','Actual_Delivery_Date','Prod_Category_A',"Product_Type","Size","Brand",\
                 
                    "Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved","Bureaucratic_Code","Account_Created_Date"\
                   ,"Source ","Account_Name","Opportunity_Name","Sales_Contract_No","Opportunity_Owner",\
                 
                   "Total_Taxable_Amount_Currency","Total_Amount_Currency","Currency","Last_Modified_Date"], axis=1,inplace = True)


#,"Account_Owner","Account_Type"

In [15]:
df

,ID,Region,Territory,Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Billing_Country,Opportunity_ID,Account_Owner,Account_Type,Opportunity_Type,Quote_Type,Delivery_Terms,Opportunity_Created_Date,Quote_Expiry_Date,Last_Modified_By,Product_Family,Product_Name,ASP,ASP_(converted),Month,Delivery_Quarter,Delivery_Year,TRF,Total_Amount,Total_Taxable_Amount,Stage,is_B4,is_B3,is_B6,is_OT_12,is_OT_19,Periodo
0,27761,EMEA,None,1,1,Netherlands,0,Person_Name_51,Account_Type_2,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/7/2015,1/30/2016,Person_Name_18,Product_Family_77,Product_Name_99,0.5200,0.58817,2016 - 5,Q2,2016,10,5272800.00,5272800.0,Closed Lost,True,False,False,False,False,False
1,27760,EMEA,None,0,0,Netherlands,1,Person_Name_51,Account_Type_2,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/7/2015,1/20/2016,Person_Name_20,Product_Family_77,Product_Name_100,0.5300,0.59948,2016 - 1,Q1,2016,0,48230.00,48230.0,Closed Won,True,False,False,False,False,False
2,27446,Americas,NW America,0,0,United States,2,Person_Name_64,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_4,12/8/2015,9/30/2016,Person_Name_8,Product_Family_81,Product_Name_91,0.4800,0.48000,2016 - 1,Q1,2016,0,83865.60,83865.6,Closed Won,True,False,False,False,False,False
3,16808,Americas,NW America,1,0,United States,3,Person_Name_8,Account_Type_5,Opportunity_Type_19,Non Binding,Delivery_Terms_1,12/8/2015,NaT,Person_Name_8,Product_Family_209,Product_Name_432,0.5300,0.53000,2018 - 2,Q1,2018,14,7421881.50,7421881.5,Closed Lost,False,False,False,False,True,False
4,16805,Americas,NW America,1,0,United States,4,Person_Name_8,Account_Type_5,Opportunity_Type_19,Non Binding,Delivery_Terms_1,12/8/2015,6/2/2017,Person_Name_8,Product_Family_209,Product_Name_432,0.5300,0.53000,2018 - 2,Q1,2018,25,13357192.50,13357192.5,Closed Lost,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,EMEA,Austria,1,1,Austria,12801,Person_Name_13,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/4/2015,NaT,Person_Name_13,Product_Family_85,Product_Name_111,0.5200,0.58817,2016 - 3,Q1,2016,0,103350.00,299715.0,Closed Won,True,False,False,False,False,False
16943,8786,EMEA,Austria,1,1,Austria,12801,Person_Name_13,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/4/2015,NaT,Person_Name_13,Product_Family_85,Product_Name_111,0.5200,0.58817,2016 - 4,Q2,2016,0,93015.00,299715.0,Closed Won,True,False,False,False,False,False
16944,8792,EMEA,Austria,1,1,Austria,12801,Person_Name_13,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_2,12/4/2015,NaT,Person_Name_13,Product_Family_85,Product_Name_111,0.5200,0.58817,2016 - 3,Q1,2016,0,103350.00,299715.0,Closed Won,True,False,False,False,False,False
16945,28561,Americas,NE America,1,1,United States,12802,Person_Name_3,Account_Type_5,Opportunity_Type_1,Non Binding,Delivery_Terms_4,12/5/2015,2/29/2016,Person_Name_3,Product_Family_158,Product_Name_287,0.6375,0.63750,2016 - 4,Q2,2016,4,2346796.88,0.0,Closed Lost,True,False,False,False,False,False
16946,28318,Americas,NE America,1,1,United States,12803,Person_Name_3,Account_Type_5,Opportunity_Type_19,Non Binding,Delivery_Terms_4,12/5/2015,1/6/2016,Person_Name_3,Product_Family_164,Product_Name_307,0.6400,0.64000,2016 - 7,Q3,2016,40,25603200.00,0.0,Closed Lost,True,False,False,False,True,False

In [16]:
_data

,ID,Region,Territory,Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Billing_Country,Opportunity_ID,Account_Owner,Account_Type,Opportunity_Type,Quote_Type,Delivery_Terms,Opportunity_Created_Date,Quote_Expiry_Date,Last_Modified_By,Product_Family,Product_Name,ASP,ASP_(converted),Month,Delivery_Quarter,Delivery_Year,TRF,Total_Amount,Total_Taxable_Amount,is_B4,is_B3,is_B6,is_OT_12,is_OT_19,Periodo
0,6140,EMEA,Germany,1,1,Germany,10689,Person_Name_13,Account_Type_0,Opportunity_Type_8,Non Binding,Delivery_Terms_2,4/12/2019,4/30/2019,Person_Name_13,Product_Family_171,Product_Name_332,0.325,0.36761,2019 - 5,Q2,2019,0,162240.0,367419.0,True,False,False,False,False,False
1,6146,EMEA,Germany,1,1,Germany,10689,Person_Name_13,Account_Type_0,Opportunity_Type_8,Non Binding,Delivery_Terms_2,4/12/2019,4/30/2019,Person_Name_13,Product_Family_167,Product_Name_315,0.320,0.36195,2019 - 5,Q2,2019,0,78624.0,367419.0,True,False,False,False,False,False
2,6151,EMEA,Germany,1,1,Germany,10689,Person_Name_13,Account_Type_0,Opportunity_Type_8,Non Binding,Delivery_Terms_2,4/12/2019,4/30/2019,Person_Name_13,Product_Family_140,Product_Name_241,0.275,0.31105,2019 - 5,Q2,2019,0,126555.0,367419.0,True,False,False,False,False,False
3,6118,EMEA,Germany,1,1,Germany,10690,Person_Name_13,Account_Type_0,Opportunity_Type_8,Non Binding,Delivery_Terms_2,4/12/2019,4/30/2019,Person_Name_13,Product_Family_171,Product_Name_328,0.325,0.36761,2019 - 6,Q2,2019,1,243360.0,757783.5,True,False,False,False,False,False
4,6124,EMEA,Germany,1,1,Germany,10690,Person_Name_13,Account_Type_0,Opportunity_Type_8,Non Binding,Delivery_Terms_2,4/12/2019,4/30/2019,Person_Name_13,Product_Family_167,Product_Name_315,0.320,0.36195,2019 - 6,Q2,2019,0,157248.0,757783.5,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2546,16345,EMEA,KSA,0,0,South Africa,12364,Person_Name_13,Account_Type_0,Opportunity_Type_1,Non Binding,Delivery_Terms_7,4/26/2019,5/24/2019,Person_Name_13,Product_Family_213,Product_Name_447,0.300,0.30000,2019 - 5,Q2,2019,0,124740.0,147750.0,True,False,False,False,False,False
2547,15218,Americas,SE America,0,0,United States,12365,Person_Name_38,Account_Type_2,Opportunity_Type_1,Non Binding,Delivery_Terms_4,4/26/2019,5/24/2019,Person_Name_38,Product_Family_221,Product_Name_477,0.410,0.41000,2019 - 10,Q4,2019,0,45054.9,45054.9,True,False,False,False,False,False
2548,15224,Americas,SE America,1,1,United States,12366,Person_Name_38,Account_Type_2,Opportunity_Type_1,Non Binding,Delivery_Terms_4,4/26/2019,5/24/2019,Person_Name_38,Product_Family_221,Product_Name_477,0.410,0.41000,2019 - 10,Q4,2019,0,100122.0,100122.0,True,False,False,False,False,False
2549,7286,Americas,NE America,0,0,United States,12367,Person_Name_9,Account_Type_2,Opportunity_Type_7,Non Binding,Delivery_Terms_4,4/26/2019,5/26/2019,Person_Name_9,Product_Family_156,Product_Name_281,0.500,0.50000,2019 - 8,Q3,2019,0,143220.0,143220.0,True,False,False,False,False,False
2550,11263,EMEA,Belgium,0,0,Luxembourg,12368,Person_Name_18,Account_Type_0,Opportunity_Type_1,Non Binding,Delivery_Terms_2,4/27/2019,2/8/2019,Person_Name_16,Product_Family_171,Product_Name_331,0.290,0.32802,2019 - 10,Q4,2019,3,871020.8,871020.8,False,False,False,False,False,False

# Encoders

In [17]:
#Quito EL Stage y lo groupeo por Opp_ID, lo uso despues
y = df[["Opportunity_ID",'Stage']]

df.drop(columns=['Stage'], axis=1,inplace = True)

In [18]:
grup_y= y.groupby(["Opportunity_ID"]).agg({"Stage":pd.Series.mode}).reset_index()

In [19]:
grup_y

      Opportunity_ID        Stage
0                  0  Closed Lost
1                  1   Closed Won
2                  2   Closed Won
3                  3  Closed Lost
4                  4  Closed Lost
...              ...          ...
9786           12799   Closed Won
9787           12800  Closed Lost
9788           12801   Closed Won
9789           12802  Closed Lost
9790           12803  Closed Lost

[9791 rows x 2 columns]

In [20]:
import category_encoders as ce

bi=ce.BinaryEncoder(cols = ["Region","Territory","Billing_Country","Opportunity_Type","Quote_Type","Delivery_Terms","Account_Owner","Account_Type"],handle_unknown="value")
binary_df = bi.fit_transform(df)
binary_predict=  bi.transform(_data)

oe =ce.OrdinalEncoder(binary_df[["Opportunity_Created_Date","Quote_Expiry_Date","Last_Modified_By","Product_Family","Product_Name","Month","Delivery_Quarter"]],handle_unknown="value")
binary_df = oe.fit_transform(binary_df)
binary_predict=  oe.transform(binary_predict)

/home/al/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [21]:
binary_df

,ID,Region_0,Region_1,Region_2,Region_3,Territory_0,Territory_1,Territory_2,Territory_3,Territory_4,Territory_5,Territory_6,Territory_7,Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Billing_Country_0,Billing_Country_1,Billing_Country_2,Billing_Country_3,Billing_Country_4,Billing_Country_5,Billing_Country_6,Billing_Country_7,Opportunity_ID,Account_Owner_0,Account_Owner_1,Account_Owner_2,Account_Owner_3,Account_Owner_4,Account_Owner_5,Account_Owner_6,Account_Type_0,Account_Type_1,Account_Type_2,Account_Type_3,Opportunity_Type_0,Opportunity_Type_1,Opportunity_Type_2,Opportunity_Type_3,Opportunity_Type_4,Opportunity_Type_5,Quote_Type_0,Quote_Type_1,Delivery_Terms_0,Delivery_Terms_1,Delivery_Terms_2,Delivery_Terms_3,Delivery_Terms_4,Opportunity_Created_Date,Quote_Expiry_Date,Last_Modified_By,Product_Family,Product_Name,ASP,ASP_(converted),Month,Delivery_Quarter,Delivery_Year,TRF,Total_Amount,Total_Taxable_Amount,is_B4,is_B3,is_B6,is_OT_12,is_OT_19,Periodo
0,27761,0,0,0,1,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,1,1,1,1,1,0.5200,0.58817,1,1,2016,10,5272800.00,5272800.0,True,False,False,False,False,False
1,27760,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,1,2,2,1,2,0.5300,0.59948,2,2,2016,0,48230.00,48230.0,True,False,False,False,False,False
2,27446,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,2,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,2,3,3,2,3,0.4800,0.48000,2,2,2016,0,83865.60,83865.6,True,False,False,False,False,False
3,16808,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,3,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,1,2,4,3,3,4,0.5300,0.53000,3,2,2018,14,7421881.50,7421881.5,False,False,False,False,True,False
4,16805,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,4,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,1,2,5,3,3,4,0.5300,0.53000,3,2,2018,25,13357192.50,13357192.5,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0,0,0,0,1,1,0,0,12801,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,1095,4,7,20,36,0.5200,0.58817,7,2,2016,0,103350.00,299715.0,True,False,False,False,False,False
16943,8786,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0,0,0,0,1,1,0,0,12801,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,1095,4,7,20,36,0.5200,0.58817,6,1,2016,0,93015.00,299715.0,True,False,False,False,False,False
16944,8792,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0,0,0,0,1,1,0,0,12801,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,1095,4,7,20,36,0.5200,0.58817,7,2,2016,0,103350.00,299715.0,True,False,False,False,False,False
16945,28561,0,0,1,0,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0,0,1,0,12802,0,0,0,1,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,1096,25,11,23,37,0.6375,0.63750,6,1,2016,4,2346796.88,0.0,True,False,False,False,False,False
16946,28318,0,0,1,0,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0,0,1,0,12803,0,0,0,1,0,1,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1096,35,11,4,32,0.6400,0.64000,9,3,2016,40,25603200.00,0.0,True,False,False,False,True,False

In [22]:
binary_predict

,ID,Region_0,Region_1,Region_2,Region_3,Territory_0,Territory_1,Territory_2,Territory_3,Territory_4,Territory_5,Territory_6,Territory_7,Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Billing_Country_0,Billing_Country_1,Billing_Country_2,Billing_Country_3,Billing_Country_4,Billing_Country_5,Billing_Country_6,Billing_Country_7,Opportunity_ID,Account_Owner_0,Account_Owner_1,Account_Owner_2,Account_Owner_3,Account_Owner_4,Account_Owner_5,Account_Owner_6,Account_Type_0,Account_Type_1,Account_Type_2,Account_Type_3,Opportunity_Type_0,Opportunity_Type_1,Opportunity_Type_2,Opportunity_Type_3,Opportunity_Type_4,Opportunity_Type_5,Quote_Type_0,Quote_Type_1,Delivery_Terms_0,Delivery_Terms_1,Delivery_Terms_2,Delivery_Terms_3,Delivery_Terms_4,Opportunity_Created_Date,Quote_Expiry_Date,Last_Modified_By,Product_Family,Product_Name,ASP,ASP_(converted),Month,Delivery_Quarter,Delivery_Year,TRF,Total_Amount,Total_Taxable_Amount,is_B4,is_B3,is_B6,is_OT_12,is_OT_19,Periodo
0,6140,0,0,0,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,10689,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,1,-1.0,-1.0,7.0,-1.0,-1.0,0.325,0.36761,44.0,1,2019,0,162240.0,367419.0,True,False,False,False,False,False
1,6146,0,0,0,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,10689,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,1,-1.0,-1.0,7.0,219.0,434.0,0.320,0.36195,44.0,1,2019,0,78624.0,367419.0,True,False,False,False,False,False
2,6151,0,0,0,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,10689,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,1,-1.0,-1.0,7.0,98.0,179.0,0.275,0.31105,44.0,1,2019,0,126555.0,367419.0,True,False,False,False,False,False
3,6118,0,0,0,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,10690,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,1,-1.0,-1.0,7.0,-1.0,-1.0,0.325,0.36761,42.0,1,2019,1,243360.0,757783.5,True,False,False,False,False,False
4,6124,0,0,0,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,10690,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,1,-1.0,-1.0,7.0,219.0,434.0,0.320,0.36195,42.0,1,2019,0,157248.0,757783.5,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2546,16345,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0,1,12364,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,1,1,1,-1.0,-1.0,7.0,74.0,152.0,0.300,0.30000,44.0,1,2019,0,124740.0,147750.0,True,False,False,False,False,False
2547,15218,0,0,1,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,1,0,12365,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,-1.0,-1.0,35.0,218.0,-1.0,0.410,0.41000,45.0,4,2019,0,45054.9,45054.9,True,False,False,False,False,False
2548,15224,0,0,1,0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,1,0,12366,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,-1.0,-1.0,35.0,218.0,-1.0,0.410,0.41000,45.0,4,2019,0,100122.0,100122.0,True,False,False,False,False,False
2549,7286,0,0,1,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,1,0,12367,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,1,1,0,1,0,0,0,1,0,-1.0,-1.0,-1.0,-1.0,-1.0,0.500,0.50000,43.0,3,2019,0,143220.0,143220.0,True,False,False,False,False,False
2550,11263,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1,1,1,0,0,12368,0,0,0,1,0,0,1,0,0,1,1,0,0,0,0,0,1,0,1,0,0,0,0,1,-1.0,-1.0,13.0,-1.0,-1.0,0.290,0.32802,45.0,4,2019,3,871020.8,871020.8,False,False,False,False,False,False

from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder()
enc.fit(binary_df[["Opportunity_Created_Date","Quote_Expiry_Date","Last_Modified_By","Product_Family","Product_Name","Month","Delivery_Quarter"]])
binary_df[["Last_Modified_By","Product_Family","Product_Name","Month","Delivery_Quarter"]] = \
enc.transform(binary_df[["Opportunity_Created_Date","Quote_Expiry_Date","Last_Modified_By","Product_Family","Product_Name","Month","Delivery_Quarter"]])

from sklearn.preprocessing import OrdinalEncoder

binary_predict[["Last_Modified_By","Product_Family","Product_Name","Month","Delivery_Quarter"]] = \
enc.transform(binary_predict[["Last_Modified_By","Product_Family","Product_Name","Month","Delivery_Quarter"]])

In [23]:
#Hago Groupby de Opp_ID para juntar oportunidades

In [24]:
_df = binary_df.groupby(["Opportunity_ID"]).agg({"Region_0":pd.Series.mode,"Region_1":pd.Series.mode,"Region_2":pd.Series.mode,"Region_3":pd.Series.mode,
       'Territory_0':pd.Series.mode,"Territory_1":pd.Series.mode,"Territory_2":pd.Series.mode,"Territory_3":pd.Series.mode,"Territory_4":pd.Series.mode,"Territory_5":pd.Series.mode,"Territory_6":pd.Series.mode,"Territory_7":pd.Series.mode,
       'Bureaucratic_Code_0_Approval':pd.Series.mode,'Bureaucratic_Code_0_Approved':pd.Series.mode, "Billing_Country_0":pd.Series.mode,"Billing_Country_1":pd.Series.mode,"Billing_Country_2":pd.Series.mode,"Billing_Country_3":pd.Series.mode,"Billing_Country_4":pd.Series.mode,"Billing_Country_5":pd.Series.mode,"Billing_Country_6":pd.Series.mode,"Billing_Country_7":pd.Series.mode,
       # "Opportunity_Type_0":pd.Series.mode,"Opportunity_Type_1":pd.Series.mode,"Opportunity_Type_2":pd.Series.mode,"Opportunity_Type_3":pd.Series.mode,"Opportunity_Type_4":pd.Series.mode,"Opportunity_Type_5":pd.Series.mode,
       #'Opportunity_Created_Date':pd.Series.mode, 'Quote_Expiry_Date':pd.Series.mode,'Delivery_Quarter':['max','min'],
        "Quote_Type_0":pd.Series.mode,"Quote_Type_1":pd.Series.mode,"Delivery_Terms_0":pd.Series.mode,"Delivery_Terms_1":pd.Series.mode,"Delivery_Terms_2":pd.Series.mode,"Delivery_Terms_3":pd.Series.mode,"Delivery_Terms_4":pd.Series.mode,                                 
       'Last_Modified_By':'max','is_B4':pd.Series.mode,'is_B3':pd.Series.mode,'is_B6':pd.Series.mode,'is_OT_12':pd.Series.mode,'is_OT_19':pd.Series.mode,
       'Product_Family':['max','min'], 'Product_Name':['max','min'], 'ASP':'max', 'ASP_(converted)':'max', 'Month':'max',
        'Delivery_Year':'max', 'TRF':['max','min','sum'], 'Total_Amount':'max',
       'Total_Taxable_Amount':'max', 'Periodo':'max',
       "Account_Owner_0":"max", "Account_Owner_1":"max","Account_Owner_2":"max","Account_Owner_3":"max","Account_Owner_4":"max","Account_Owner_5":"max","Account_Owner_6":"max",
        "Account_Type_0":"max","Account_Type_1":"max","Account_Type_2":"max","Account_Type_3":"max" }).reset_index()
       #"Opportunity_Type_0":pd.Series.mode,"Opportunity_Type_1":pd.Series.mode,"Opportunity_Type_2":pd.Series.mode,"Opportunity_Type_3":pd.Series.mode,"Opportunity_Type_4":pd.Series.mode,"Opportunity_Type_5":pd.Series.mode
       #'Opportunity_Created_Date':pd.Series.mode, 'Quote_Expiry_Date':pd.Series.mode,

In [25]:
_df

     Opportunity_ID Region_0 Region_1 Region_2 Region_3 Territory_0  \
                        mode     mode     mode     mode        mode
0                 0        0        0        0        1           0
1                 1        0        0        0        1           0
2                 2        0        0        1        0           0
3                 3        0        0        1        0           0
4                 4        0        0        1        0           0
...             ...      ...      ...      ...      ...         ...
9786          12799        0        0        0        1           0
9787          12800        0        0        1        0           0
9788          12801        0        0        0        1           0
9789          12802        0        0        1        0           0
9790          12803        0        0        1        0           0

     Territory_1 Territory_2 Territory_3 Territory_4 Territory_5 Territory_6  \
            mode        mode        mode        mode        mode        mode
0              0           0           0           0           0           0
1              0           0           0           0           0           0
2              0           0           0           0           0           1
3              0           0           0           0           0           1
4              0           0           0           0           0           1
...          ...         ...         ...         ...         ...         ...
9786           0           0           1           1           0           0
9787           0           0           0           1           0           1
9788           0           0           0           1           0           1
9789           0           0           0           1           0           1
9790           0           0           0           1           0           1

     Territory_7 Bureaucratic_Code_0_Approval Bureaucratic_Code_0_Approved  \
            mode                         mode                         mode
0              1                            1                            1
1              1                            0                            0
2              0                            0                            0
3              0                            1                            0
4              0                            1                            0
...          ...                          ...                          ...
9786           0                            0                            0
9787           1                            0                            0
9788           0                            1                            1
9789           1                            1                            1
9790           1                            1                            1

     Billing_Country_0 Billing_Country_1 Billing_Country_2 Billing_Country_3  \
                  mode              mode              mode              mode
0                    0                 0                 0                 0
1                    0                 0                 0                 0
2                    0                 0                 0                 0
3                    0                 0                 0                 0
4                    0                 0                 0                 0
...                ...               ...               ...               ...
9786                 0                 0                 0                 0
9787                 0                 0                 0                 0
9788                 0                 0                 0                 0
9789                 0                 0                 0                 0
9790                 0                 0                 0                 0

     Billing_Country_4 Billing_Country_5 Billing_Country_6 Billing_Country_7  \
                  mode              mode              mode              mode
0                    0                 0                 0                 1
1                    0                 0                 0                 1
2                    0                 0                 1                 0
3                    0                 0                 1                 0
4                    0                 0                 1                 0
...                ...               ...               ...               ...
9786                 0                 1                 1                 1
9787                 0                 1                 1                 1
9788                 1                 1                 0                 0
9789                 0                 0                 1                 0
9790                 0                 0                 1                 0

     Quote_Type_0 Quote_Type_1 Delivery_Terms_0 Delivery_Terms_1  \
             mode         mode             mode             mode
0               0            1                0                0
1               0            1                0                0
2               0            1                0                0
3               0            1                0                0
4               0            1                0                0
...           ...          ...              ...              ...
9786            0            1                0                0
9787            0            1                0                0
9788            0            1                0                0
9789            0            1                0                0
9790            0            1                0                0

     Delivery_Terms_2 Delivery_Terms_3 Delivery_Terms_4 Last_Modified_By  \
                 mode             mode             mode              max
0                   0                0                1                1
1                   0                0                1                2
2                   0                1                0                3
3                   0                1                1                3
4                   0                1                1                3
...               ...              ...              ...              ...
9786                0                0                1                7
9787                0                1                0                7
9788                0                0                1                7
9789                0                1                0               11
9790                0                1                0               11

      is_B4  is_B3  is_B6 is_OT_12 is_OT_19 Product_Family     Product_Name  \
       mode   mode   mode     mode     mode            max min          max
0      True  False  False    False    False              1   1            1
1      True  False  False    False    False              1   1            2
2      True  False  False    False    False              2   2            3
3     False  False  False    False     True              3   3            4
4     False  False  False    False     True              3   3            4
...     ...    ...    ...      ...      ...            ...  ..          ...
9786   True  False  False    False    False              1   1           24
9787  False  False  False    False     True             23   4           33
9788   True  False  False    False    False             20  20           36
9789   True  False  False    False    False             23  23           37
9790   True  False  False    False     True              4   4           32

             ASP ASP_(converted) Month Delivery_Year TRF         Total_Amount  \
     min     max             max   max           max max min sum          max
0      1  0.5200         0.58817     1          2016  10  10  10   5272800.00
1      2  0.5300         0.59948     2          2016   0   0   0     48230.00
2      3  0.4800         0.48000     2          2016   0   0   0     83865.60
3      4  0.5300         0.53000     3          2018  14  14  14   7421881.50
4      4  0.5300         0.53000     3          2018  25  25  25  13357192.50
...   ..     ...             ...   ...           ...  ..  ..  ..          ...
9786  24  0.5150         0.58251     6          2016   1   1   1    401700.00
9787  32  0.5300         0.53000    14          2016  20  20  40  10751580.00
9788  36  0.5200         0.58817     7          2016   0   0   0    103350.00
9789  37  0.6375         0.63750     6          2016   4   4   4   2346796.88
9790  32  0.6400         0.64000     9          2016  40  40  40  25603200.00

     Total_Taxable_Amount Periodo Account_Owner_0 Account_Owner_1  \
                      max     max             max             max
0               5272800.0   False               0               0
1                 48230.0   False               0               0
2                 83865.6   False               0               0
3               7421881.5   False               0               0
4              13357192.5   False               0               0
...                   ...     ...             ...             ...
9786             401700.0   False               0               0
9787           21332500.0   False               0               0
9788             299715.0   False               0               0
9789                  0.0   False               0               0
9790                  0.0   False               0               0

     Account_Owner_2 Account_Owner_3 Account_Owner_4 Account_Owner_5  \
                 max             max             max             max
0                  0               0               0               0
1                  0               0               0               0
2                  0               0               0               1
3                  0               0               0               1
4                  0               0               0               1
...              ...             ...             ...             ...
9786               0               1               0               0
9787               0               1               0               0
9788               0               1               0               0
9789               0               1               0               1
9790               0               1               0               1

     Account_Owner_6 Account_Type_0 Account_Type_1 Account_Type_2  \
                 max            max            max            max
0                  1              0              0              0
1                  1              0              0              0
2                  0              0              0              1
3                  1              0              0              1
4                  1              0              0              1
...              ...            ...            ...            ...
9786               0              0              0              1
9787               0              0              0              1
9788               0              0              0              1
9789               1              0              0              1
9790               1              0              0              1

     Account_Type_3
                max
0                 1
1                 1
2                 0
3                 0
4                 0
...             ...
9786              1
9787              0
9788              0
9789              0
9790              0

[9791 rows x 61 columns]

In [26]:
to_predict = binary_predict.groupby(["Opportunity_ID"]).agg({"Region_0":pd.Series.mode,"Region_1":pd.Series.mode,"Region_2":pd.Series.mode,"Region_3":pd.Series.mode,
       'Territory_0':pd.Series.mode,"Territory_1":pd.Series.mode,"Territory_2":pd.Series.mode,"Territory_3":pd.Series.mode,"Territory_4":pd.Series.mode,"Territory_5":pd.Series.mode,"Territory_6":pd.Series.mode,"Territory_7":pd.Series.mode,
       'Bureaucratic_Code_0_Approval':pd.Series.mode,'Bureaucratic_Code_0_Approved':pd.Series.mode, "Billing_Country_0":pd.Series.mode,"Billing_Country_1":pd.Series.mode,"Billing_Country_2":pd.Series.mode,"Billing_Country_3":pd.Series.mode,"Billing_Country_4":pd.Series.mode,"Billing_Country_5":pd.Series.mode,"Billing_Country_6":pd.Series.mode,"Billing_Country_7":pd.Series.mode,
       # "Opportunity_Type_0":pd.Series.mode,"Opportunity_Type_1":pd.Series.mode,"Opportunity_Type_2":pd.Series.mode,"Opportunity_Type_3":pd.Series.mode,"Opportunity_Type_4":pd.Series.mode,"Opportunity_Type_5":pd.Series.mode,
       #'Opportunity_Created_Date':pd.Series.mode, 'Quote_Expiry_Date':pd.Series.mode,'Delivery_Quarter':['max','min'],
        "Quote_Type_0":pd.Series.mode,"Quote_Type_1":pd.Series.mode,"Delivery_Terms_0":pd.Series.mode,"Delivery_Terms_1":pd.Series.mode,"Delivery_Terms_2":pd.Series.mode,"Delivery_Terms_3":pd.Series.mode,"Delivery_Terms_4":pd.Series.mode,                                 
       'Last_Modified_By':'max','is_B4':pd.Series.mode,'is_B3':pd.Series.mode,'is_B6':pd.Series.mode,'is_OT_12':pd.Series.mode,'is_OT_19':pd.Series.mode,
       'Product_Family':['max','min'], 'Product_Name':['max','min'], 'ASP':'max', 'ASP_(converted)':'max', 'Month':'max',
        'Delivery_Year':'max', 'TRF':['max','min','sum'], 'Total_Amount':'max',
       'Total_Taxable_Amount':'max', 'Periodo':'max',
       "Account_Owner_0":"max", "Account_Owner_1":"max","Account_Owner_2":"max","Account_Owner_3":"max","Account_Owner_4":"max","Account_Owner_5":"max","Account_Owner_6":"max",
        "Account_Type_0":"max","Account_Type_1":"max","Account_Type_2":"max","Account_Type_3":"max" }).reset_index()

In [27]:
to_predict

     Opportunity_ID Region_0 Region_1 Region_2 Region_3 Territory_0  \
                        mode     mode     mode     mode        mode
0             10689        0        0        0        1           0
1             10690        0        0        0        1           0
2             10691        0        0        1        0           0
3             10692        0        0        1        0           0
4             10693        0        0        1        0           0
...             ...      ...      ...      ...      ...         ...
1562          12364        0        0        0        1           0
1563          12365        0        0        1        0           0
1564          12366        0        0        1        0           0
1565          12367        0        0        1        0           0
1566          12368        0        0        0        1           0

     Territory_1 Territory_2 Territory_3 Territory_4 Territory_5 Territory_6  \
            mode        mode        mode        mode        mode        mode
0              0           0           0           0           1           0
1              0           0           0           0           1           0
2              0           0           0           1           0           1
3              0           0           0           0           0           1
4              0           0           0           0           0           1
...          ...         ...         ...         ...         ...         ...
1562           0           1           0           0           0           1
1563           0           0           0           1           1           1
1564           0           0           0           1           1           1
1565           0           0           0           1           0           1
1566           0           0           0           1           1           0

     Territory_7 Bureaucratic_Code_0_Approval Bureaucratic_Code_0_Approved  \
            mode                         mode                         mode
0              1                            1                            1
1              1                            1                            1
2              1                            0                            0
3              0                            1                            0
4              0                            0                            0
...          ...                          ...                          ...
1562           0                            0                            0
1563           1                            0                            0
1564           1                            1                            1
1565           1                            0                            0
1566           0                            0                            0

     Billing_Country_0 Billing_Country_1 Billing_Country_2 Billing_Country_3  \
                  mode              mode              mode              mode
0                    0                 0                 0                 0
1                    0                 0                 0                 0
2                    0                 0                 0                 0
3                    0                 0                 0                 0
4                    0                 0                 0                 0
...                ...               ...               ...               ...
1562                 0                 0                 1                 0
1563                 0                 0                 0                 0
1564                 0                 0                 0                 0
1565                 0                 0                 0                 0
1566                 0                 0                 0                 1

     Billing_Country_4 Billing_Country_5 Billing_Country_6 Billing_Country_7  \
                  mode              mode              mode              mode
0                    0                 1                 1                 1
1                    0                 1                 1                 1
2                    0                 0                 1                 0
3                    0                 0                 1                 0
4                    0                 0                 1                 0
...                ...               ...               ...               ...
1562                 1                 1                 0                 1
1563                 0                 0                 1                 0
1564                 0                 0                 1                 0
1565                 0                 0                 1                 0
1566                 1                 1                 0                 0

     Quote_Type_0 Quote_Type_1 Delivery_Terms_0 Delivery_Terms_1  \
             mode         mode             mode             mode
0               0            1                0                0
1               0            1                0                0
2               0            1                0                0
3               0            1                0                0
4               0            1                0                0
...           ...          ...              ...              ...
1562            0            1                0                0
1563            0            1                0                0
1564            0            1                0                0
1565            0            1                0                0
1566            0            1                0                0

     Delivery_Terms_2 Delivery_Terms_3 Delivery_Terms_4 Last_Modified_By  \
                 mode             mode             mode              max
0                   0                0                1              7.0
1                   0                0                1              7.0
2                   0                1                0             -1.0
3                   0                1                0              3.0
4                   0                1                0             25.0
...               ...              ...              ...              ...
1562                1                1                1              7.0
1563                0                1                0             35.0
1564                0                1                0             35.0
1565                0                1                0             -1.0
1566                0                0                1             13.0

      is_B4  is_B3  is_B6 is_OT_12 is_OT_19 Product_Family         \
       mode   mode   mode     mode     mode            max    min
0      True  False  False    False    False          219.0   -1.0
1      True  False  False    False    False          219.0   -1.0
2      True  False  False    False    False          214.0  214.0
3     False  False  False    False    False          218.0  218.0
4      True  False  False    False    False           98.0   98.0
...     ...    ...    ...      ...      ...            ...    ...
1562   True  False  False    False    False           98.0   74.0
1563   True  False  False    False    False          218.0  218.0
1564   True  False  False    False    False          218.0  218.0
1565   True  False  False    False    False           -1.0   -1.0
1566  False  False  False    False    False           -1.0   -1.0

     Product_Name           ASP ASP_(converted) Month Delivery_Year TRF      \
              max    min    max             max   max           max max min
0           434.0   -1.0  0.325         0.36761  44.0          2019   0   0
1           434.0   -1.0  0.385         0.43547  42.0          2019   1   0
2            -1.0   -1.0  0.425         0.42500  45.0          2019   0   0
3            -1.0   -1.0  0.425         0.42500  -1.0          2019   1   1
4           179.0  179.0  0.390         0.39000  44.0          2019   0   0
...           ...    ...    ...             ...   ...           ...  ..  ..
1562        179.0  152.0  0.300         0.30000  44.0          2019   0   0
1563         -1.0   -1.0  0.410         0.41000  45.0          2019   0   0
1564         -1.0   -1.0  0.410         0.41000  45.0          2019   0   0
1565         -1.0   -1.0  0.500         0.50000  43.0          2019   0   0
1566         -1.0   -1.0  0.290         0.32802  45.0          2019   3   3

         Total_Amount Total_Taxable_Amount Periodo Account_Owner_0  \
     sum          max                  max     max             max
0      0     162240.0             367419.0   False               0
1      1     243360.0             757783.5   False               0
2      0      21037.5              21037.5   False               0
3      6     456654.0            2169106.5   False               0
4      0       5752.5               5752.5   False               0
...   ..          ...                  ...     ...             ...
1562   0     124740.0             147750.0   False               0
1563   0      45054.9              45054.9   False               0
1564   0     100122.0             100122.0   False               0
1565   0     143220.0             143220.0   False               0
1566   3     871020.8             871020.8   False               0

     Account_Owner_1 Account_Owner_2 Account_Owner_3 Account_Owner_4  \
                 max             max             max             max
0                  0               0               1               0
1                  0               0               1               0
2                  1               0               1               1
3                  0               0               0               0
4                  0               0               0               0
...              ...             ...             ...             ...
1562               0               0               1               0
1563               0               1               0               0
1564               0               1               0               0
1565               1               0               1               1
1566               0               0               1               0

     Account_Owner_5 Account_Owner_6 Account_Type_0 Account_Type_1  \
                 max             max            max            max
0                  0               0              0              0
1                  0               0              0              0
2                  0               0              0              0
3                  1               1              0              0
4                  1               0              0              0
...              ...             ...            ...            ...
1562               0               0              0              0
1563               0               0              0              0
1564               0               0              0              0
1565               0               0              0              0
1566               0               1              0              0

     Account_Type_2 Account_Type_3
                max            max
0                 1              1
1                 1              1
2                 0              1
3                 1              1
4                 1              1
...             ...            ...
1562              1              1
1563              0              1
1564              0              1
1565              0              1
1566              1              1

[1567 rows x 61 columns]

### Model Selection and Machine Learning

#### Aux: UtilizarÃ© Random Forest. Chequeo nulos.

In [29]:
_df.isnull().sum().sum()

66

In [30]:
len(_df)

9791

In [31]:
len(grup_y) #ok

9791

In [32]:
_df.isnull().sum().sum()/len(_df) #representan el 0.6% de los datos, dropeo.

0.006740884485752221

In [33]:
# RandomForest no maneja nulos

In [34]:
# X tiene nulos, X e Y deben quedarme de dimensiones compatibles

In [35]:
n_cols_df=len(_df.columns)
n_cols_df##info

61

In [36]:
_df.insert(n_cols_df,"Stage",grup_y["Stage"]) # existentes en 0..n_cols_df-1

In [37]:
_df ##info

     Opportunity_ID Region_0 Region_1 Region_2 Region_3 Territory_0  \
                        mode     mode     mode     mode        mode
0                 0        0        0        0        1           0
1                 1        0        0        0        1           0
2                 2        0        0        1        0           0
3                 3        0        0        1        0           0
4                 4        0        0        1        0           0
...             ...      ...      ...      ...      ...         ...
9786          12799        0        0        0        1           0
9787          12800        0        0        1        0           0
9788          12801        0        0        0        1           0
9789          12802        0        0        1        0           0
9790          12803        0        0        1        0           0

     Territory_1 Territory_2 Territory_3 Territory_4 Territory_5 Territory_6  \
            mode        mode        mode        mode        mode        mode
0              0           0           0           0           0           0
1              0           0           0           0           0           0
2              0           0           0           0           0           1
3              0           0           0           0           0           1
4              0           0           0           0           0           1
...          ...         ...         ...         ...         ...         ...
9786           0           0           1           1           0           0
9787           0           0           0           1           0           1
9788           0           0           0           1           0           1
9789           0           0           0           1           0           1
9790           0           0           0           1           0           1

     Territory_7 Bureaucratic_Code_0_Approval Bureaucratic_Code_0_Approved  \
            mode                         mode                         mode
0              1                            1                            1
1              1                            0                            0
2              0                            0                            0
3              0                            1                            0
4              0                            1                            0
...          ...                          ...                          ...
9786           0                            0                            0
9787           1                            0                            0
9788           0                            1                            1
9789           1                            1                            1
9790           1                            1                            1

     Billing_Country_0 Billing_Country_1 Billing_Country_2 Billing_Country_3  \
                  mode              mode              mode              mode
0                    0                 0                 0                 0
1                    0                 0                 0                 0
2                    0                 0                 0                 0
3                    0                 0                 0                 0
4                    0                 0                 0                 0
...                ...               ...               ...               ...
9786                 0                 0                 0                 0
9787                 0                 0                 0                 0
9788                 0                 0                 0                 0
9789                 0                 0                 0                 0
9790                 0                 0                 0                 0

     Billing_Country_4 Billing_Country_5 Billing_Country_6 Billing_Country_7  \
                  mode              mode              mode              mode
0                    0                 0                 0                 1
1                    0                 0                 0                 1
2                    0                 0                 1                 0
3                    0                 0                 1                 0
4                    0                 0                 1                 0
...                ...               ...               ...               ...
9786                 0                 1                 1                 1
9787                 0                 1                 1                 1
9788                 1                 1                 0                 0
9789                 0                 0                 1                 0
9790                 0                 0                 1                 0

     Quote_Type_0 Quote_Type_1 Delivery_Terms_0 Delivery_Terms_1  \
             mode         mode             mode             mode
0               0            1                0                0
1               0            1                0                0
2               0            1                0                0
3               0            1                0                0
4               0            1                0                0
...           ...          ...              ...              ...
9786            0            1                0                0
9787            0            1                0                0
9788            0            1                0                0
9789            0            1                0                0
9790            0            1                0                0

     Delivery_Terms_2 Delivery_Terms_3 Delivery_Terms_4 Last_Modified_By  \
                 mode             mode             mode              max
0                   0                0                1                1
1                   0                0                1                2
2                   0                1                0                3
3                   0                1                1                3
4                   0                1                1                3
...               ...              ...              ...              ...
9786                0                0                1                7
9787                0                1                0                7
9788                0                0                1                7
9789                0                1                0               11
9790                0                1                0               11

      is_B4  is_B3  is_B6 is_OT_12 is_OT_19 Product_Family     Product_Name  \
       mode   mode   mode     mode     mode            max min          max
0      True  False  False    False    False              1   1            1
1      True  False  False    False    False              1   1            2
2      True  False  False    False    False              2   2            3
3     False  False  False    False     True              3   3            4
4     False  False  False    False     True              3   3            4
...     ...    ...    ...      ...      ...            ...  ..          ...
9786   True  False  False    False    False              1   1           24
9787  False  False  False    False     True             23   4           33
9788   True  False  False    False    False             20  20           36
9789   True  False  False    False    False             23  23           37
9790   True  False  False    False     True              4   4           32

             ASP ASP_(converted) Month Delivery_Year TRF         Total_Amount  \
     min     max             max   max           max max min sum          max
0      1  0.5200         0.58817     1          2016  10  10  10   5272800.00
1      2  0.5300         0.59948     2          2016   0   0   0     48230.00
2      3  0.4800         0.48000     2          2016   0   0   0     83865.60
3      4  0.5300         0.53000     3          2018  14  14  14   7421881.50
4      4  0.5300         0.53000     3          2018  25  25  25  13357192.50
...   ..     ...             ...   ...           ...  ..  ..  ..          ...
9786  24  0.5150         0.58251     6          2016   1   1   1    401700.00
9787  32  0.5300         0.53000    14          2016  20  20  40  10751580.00
9788  36  0.5200         0.58817     7          2016   0   0   0    103350.00
9789  37  0.6375         0.63750     6          2016   4   4   4   2346796.88
9790  32  0.6400         0.64000     9          2016  40  40  40  25603200.00

     Total_Taxable_Amount Periodo Account_Owner_0 Account_Owner_1  \
                      max     max             max             max
0               5272800.0   False               0               0
1                 48230.0   False               0               0
2                 83865.6   False               0               0
3               7421881.5   False               0               0
4              13357192.5   False               0               0
...                   ...     ...             ...             ...
9786             401700.0   False               0               0
9787           21332500.0   False               0               0
9788             299715.0   False               0               0
9789                  0.0   False               0               0
9790                  0.0   False               0               0

     Account_Owner_2 Account_Owner_3 Account_Owner_4 Account_Owner_5  \
                 max             max             max             max
0                  0               0               0               0
1                  0               0               0               0
2                  0               0               0               1
3                  0               0               0               1
4                  0               0               0               1
...              ...             ...             ...             ...
9786               0               1               0               0
9787               0               1               0               0
9788               0               1               0               0
9789               0               1               0               1
9790               0               1               0               1

     Account_Owner_6 Account_Type_0 Account_Type_1 Account_Type_2  \
                 max            max            max            max
0                  1              0              0              0
1                  1              0              0              0
2                  0              0              0              1
3                  1              0              0              1
4                  1              0              0              1
...              ...            ...            ...            ...
9786               0              0              0              1
9787               0              0              0              1
9788               0              0              0              1
9789               1              0              0              1
9790               1              0              0              1

     Account_Type_3        Stage
                max
0                 1  Closed Lost
1                 1   Closed Won
2                 0   Closed Won
3                 0  Closed Lost
4                 0  Closed Lost
...             ...          ...
9786              1   Closed Won
9787              0  Closed Lost
9788              0   Closed Won
9789              0  Closed Lost
9790              0  Closed Lost

[9791 rows x 62 columns]

In [38]:
_df.dropna(inplace=True)

In [39]:
len(_df)

9739

In [40]:
len(grup_y) # acÃ¡ estaba guardada la Stage (grup_y es un df)

9791

### Split

In [41]:
from sklearn.model_selection import train_test_split

In [45]:
grup_yyy = _df["Stage"]
_df.drop(columns=["Stage"], axis=1,inplace = True)

_df.drop(columns=["Opportunity_ID"], axis=1,inplace = True)

x_train, x_test, y_train, y_test = train_test_split(_df, grup_yyy, test_size=0.20,random_state=87,shuffle=True)

id_ = to_predict["Opportunity_ID"]
to_predict.drop(columns=["Opportunity_ID"], axis=1,inplace = True)

/home/al/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [46]:
print(f"Original shapes: X={_df.shape} y={y.shape}")
print(f"Train shapes: X={x_train.shape} y={y_train.shape}")
print(f"Test  shapes: X={x_test.shape}  y={y_test.shape}")

Original shapes: X=(9739, 60) y=(16883, 2)
Train shapes: X=(7791, 60) y=(7791,)
Test  shapes: X=(1948, 60)  y=(1948,)

### Random Forest

In [47]:
from sklearn.ensemble import RandomForestClassifier
import time

In [139]:
model = RandomForestClassifier(n_estimators=1100,max_features=10,\
                               min_samples_split=50,random_state=87) #0

start_time = time.time()
model.fit(x_train, y_train)
print("--- %s seconds ---" % (time.time() - start_time))

--- 7.406167268753052 seconds ---

# Test

In [140]:
evaluate(model, x_train,y_train, x_test, y_test) # def en Functions

Entrenamiento: 84.4179%
Testeo: 80.6468%.
log_loss 0.4152758050045707

In [135]:
model

RandomForestClassifier(max_features=10, min_samples_split=200,
                       n_estimators=1100, random_state=87)

# Predecir Proba

In [141]:
predict = model.predict_proba(to_predict)
predict

array([[0.35277606, 0.64722394],
       [0.47605671, 0.52394329],
       [0.34459878, 0.65540122],
       ...,
       [0.53968745, 0.46031255],
       [0.4918693 , 0.5081307 ],
       [0.81883067, 0.18116933]])

In [142]:
proba = pd.DataFrame(data=predict, columns=["0", "1"])
proba

             0         1
0     0.352776  0.647224
1     0.476057  0.523943
2     0.344599  0.655401
3     0.555467  0.444533
4     0.099301  0.900699
...        ...       ...
1562  0.376855  0.623145
1563  0.466255  0.533745
1564  0.539687  0.460313
1565  0.491869  0.508131
1566  0.818831  0.181169

[1567 rows x 2 columns]

# Guardar

In [143]:
result = submission_output(id_, proba["1"],"RF_n_est1100_maxFeatures10_minSamplesSplit50__randomState87.csv") # def en Functions
result

      Opportunity_ID    Target
0              10689  0.647224
1              10690  0.523943
2              10691  0.655401
3              10692  0.444533
4              10693  0.900699
...              ...       ...
1562           12364  0.623145
1563           12365  0.533745
1564           12366  0.460313
1565           12367  0.508131
1566           12368  0.181169

[1567 rows x 2 columns]